
releases/
# docs/

chromedriver-win64/
python-exe-unpacker/

*.log
*.mp4
*.zip
*.exe
*.pyc
Codes/history/sessions.json
Codes/history/survey_link.txt

# Nuitka build artifacts
build/
*.build/
*.dist/
*.onefile-build/
