body {
    -webkit-overflow-scrolling: touch;
}
html, body {
    height: 100%
}

#divFengMian {
    height: 100%;
    background-image: none;
    background-color: #F4F7F9;
    width: 100%;
    position: relative;
    overflow:hidden;
}

#fengMianTitle {
    font-size: 24px;
    font-weight: 600;
    color: #262626;
    line-height: 33px;
    text-align: center;
    padding: 0 40px 20px;
    padding-top: 100px;
    -webkit-font-smoothing: antialiased;
    position:relative;
    z-index:4;
}

#divTitle {
    color: #373000;
    font-size: 16px;
    margin-bottom: 30px;
    display: none;
}

#slideChunk {
    width: 220px;
    height: 48px !important;
    line-height: 48px;
    background: #0095FF;
    border-radius: 2px;
    color: #fff;
    position: absolute;
    left: 50%;
    bottom: 40px;
    margin-left: -110px;
    z-index: 10;
    text-align: center;
    padding:0 !important;
}

#slideChunkArrow {
    display:none;
}

.slideChunkWord {
    font-size: 16px;
    color: #fff;
    line-height: 48px;
}
.fengmianImgWrap {
    width: 100%;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    overflow: hidden;
}

.fengmianshade {
    position: absolute;
    z-index: 3;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-image: linear-gradient(180deg, rgba(255,255,255,0) 0%, #F4F7F9 100%);
}

.fengmianImg {
    width: 100%;
    position: relative;
    z-index: 2;
}





